## Zbiory
### lista unikalnych elementów set()

In [2]:
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [3]:
techs = {'Python', 'Java', 'C++', 'SQL'}
print(techs)

{'Java', 'C++', 'Python', 'SQL'}

In [4]:
print(len(techs))

4

In [5]:
set('Python')

{'P', 'h', 'n', 'o', 't', 'y'}

In [6]:
set('aaaabbbccc')

{'a', 'b', 'c'}

In [7]:
'Python' in techs

True

In [8]:
techs.add('sas')
techs.remove('sas')

In [9]:
techs.pop() # wyrzuca dowolny element

'SQL'

In [10]:
print(techs)

{'Java', 'C++', 'Python'}

In [11]:
techs.clear() # czyści wartości

In [12]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {5, 6, 7, 8, 9}
C = {5, 6}


C.issubset(A) # sprawdza czy zbiór C jest podzbiorem A 
C.issubset({5, 7})
A.issuperset(C) # sprawdza czy A jest nadzbiorem zbioru C
A.union(B) # suma zbiorów
A.intersection(B) # cześć wspólna
A.symmetric_difference(B) # element które są w A i nie ma w B i odwrotnie

{1, 2, 3, 4, 8, 9}

In [13]:
D = A.copy() # kopiowanie zbiorów
D

{1, 2, 3, 4, 5, 6, 7}

In [14]:
x = 'Programowanie w języku Python - od A do Z'
print(len(set(x.lower().replace('-','').replace('ę','e').replace(' ',''))))

18

## Tuple
### uporządkowana struktura której nie mozna zmieniać tuple()

In [15]:
empty_tuple = tuple()
print(empty_tuple)

()

In [16]:
amazon = ('Amazon','USA', 'Technology', 1)
google = ('Google', 'USA', 'Technology', 2)

In [17]:
name_google = google[0]

In [18]:
data = (amazon, google) # zagnieżdzone tuple

In [19]:
a = ('Maciej', 'Swiatek')
print(a)

('Maciej', 'Swiatek')

In [20]:
imie = 'Maciej'
nazwisko = 'Swiatek'

In [21]:
imie,nazwisko = ('Maciej', 'Swiatek')

In [22]:
amazon_name, country, sector, rank = amazon # przypisanie elementów tupli do zmiennych

In [23]:
stocks = 'Amazon', 'Apple', 'IBM' # inna definicja tupli
stocks

('Amazon', 'Apple', 'IBM')

In [24]:
nested = 'Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw')
nested

('Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw'))

In [25]:
a = 12
b = 14

c = b
b = a
a = c
print(a,b)

14 12

In [26]:
x, y = 10, 15
x, y = y, x
print(x,y)

15 10

In [27]:
x = 'Python'
y = 3.7
print((x, y))

('Python', 3.7)

## LISTY
### obiekty które są zmienne, uporządkowana struktura elementów, mogą być zduplikowane

In [28]:
techs = ['Python', 'Java', 'C++', 'SQL', 'GO']

In [29]:
techs[0] = 'Python 3.7'

In [30]:
print(techs)

['Python 3.7', 'Java', 'C++', 'SQL', 'GO']

In [31]:
numbers = [3, 5, 3, 5, 23]
print(numbers)
print(type(numbers))

[3, 5, 3, 5, 23]
<class 'list'>

In [32]:
mixed = ['python', 3.6, 5, True]

In [33]:
empty_list = []

In [34]:
nested_list = [[1, 2, 3], ['Python', 'SQL', 'GO'], 3]
nested_list

[[1, 2, 3], ['Python', 'SQL', 'GO'], 3]

In [35]:
nested_list

[[1, 2, 3], ['Python', 'SQL', 'GO'], 3]

In [36]:
first = ['mleko', 'ziemniaki', 'makaron']
second = ['woda', 'jajka']

bucket = [first,second] # zagnieżdzanie list

first + second + ['scala'] # dodawanie list i elementów list

['mleko', 'ziemniaki', 'makaron', 'woda', 'jajka', 'scala']

In [37]:
techs = ['Python', 'Java', 'C++', 'SQL', 'GO']

techs += ['js']
techs

['Python', 'Java', 'C++', 'SQL', 'GO', 'js']

In [38]:
numbers = [1, 4, 2, 5]
letters = ['d', 's', 't']
print(numbers + letters)

[1, 4, 2, 5, 'd', 's', 't']

In [39]:
index = [0, 1, 2, 3, 4, 5]
index_neg = [-6, -5, -4, -3, -2, -1]
lista = [34, 23, 56, 24, 23, 76]

In [40]:
lista[0]
lista[1:5]
lista[-5:-1]
lista[::-1] # odwrócona lista

[76, 23, 24, 56, 23, 34]

In [41]:
techs = ['java', 'python', 'spark', 'hadoop', 'r']
print(techs[1])

python

## Metody listy

In [42]:
techs = []
print(techs)

[]

In [43]:
techs.append('python') #dodawanie do listy na koniec
print(techs)

['python']

In [44]:
techs.append(['python','c++']) #dodanie listy do listy
print(techs)

['python', ['python', 'c++']]

In [45]:
techs.extend(['sql', 'spark']) #dodawanie wielu elementów do listy
print(techs)

['python', ['python', 'c++'], 'sql', 'spark']

In [46]:
techs.insert(0,'go') #dodawnie w konkretne miejsce index, wartosc
techs

['go', 'python', ['python', 'c++'], 'sql', 'spark']

In [47]:
techs.insert(2,'r')
techs

['go', 'python', 'r', ['python', 'c++'], 'sql', 'spark']

In [48]:
techs.pop() #usuwa ostatni element i zwaraca jako output

'spark'

In [49]:
techs.pop(1) #wskazujemu który element ma być wyrwany

'python'

In [50]:
techs

['go', 'r', ['python', 'c++'], 'sql']

In [51]:
techs.index('go') #zwraca wartosc indexu elementu

0

In [52]:
techs = ['java', 'python', 'spark', 'hadoop', 'r']

In [53]:
techs.count('r')

1

In [54]:
techs.sort() #sortuje alfabetycznie
techs

['hadoop', 'java', 'python', 'r', 'spark']

In [55]:
techs.sort(reverse=True)
techs

['spark', 'r', 'python', 'java', 'hadoop']

In [56]:
techs.reverse() #odwraca na stałe
techs

['hadoop', 'java', 'python', 'r', 'spark']

In [57]:
techs[1] = 'c++' #podmiana elementu
techs

['hadoop', 'c++', 'python', 'r', 'spark']

In [58]:
list_1 = [4,5,3,3]
list_2 = [9,7]

print(list_1 + list_2)

[4, 5, 3, 3, 9, 7]

In [59]:
l1 = ['Apple', 'Microsoft', 'Samsung', 'Netflix', 'Uber']
l1.extend(['Amazon', 'Google'])
print(l1)

['Apple', 'Microsoft', 'Samsung', 'Netflix', 'Uber', 'Amazon', 'Google']

## Słowniki 
### para klucz : wartosc, klucze nie mogą się powtarzać w obrębie jednego słownika

In [60]:
empty_dict = dict()
print(empty_dict)

d = {}

{}

In [61]:
pol_to_end = {'jeden':'one','dwa':'two','trzy':'three'}
pol_to_end

{'jeden': 'one', 'dwa': 'two', 'trzy': 'three'}

In [62]:
name_to_digit = {'jeden':1, 'dwa':2, 'trzy':3}
name_to_digit

{'jeden': 1, 'dwa': 2, 'trzy': 3}

In [63]:
len(name_to_digit)

3

In [64]:
pol_to_end['cztery'] = 'four' #dodanie elementu do słownika

In [65]:
pol_to_end

{'jeden': 'one', 'dwa': 'two', 'trzy': 'three', 'cztery': 'four'}

In [66]:
pol_to_end.clear()

In [67]:
pol_to_end_copied = pol_to_end.copy() #kopiowanie

In [68]:
pol_to_end.keys() #zwraca klucze

dict_keys([])

In [69]:
pol_to_end.values() #zwraca wartosci

dict_values([])

In [70]:
pol_to_end.items() #zwraca wszystkie wartosci jako lista tupli

dict_items([])

In [71]:
pol_to_end['jeden']

KeyError: 'jeden'

In [ ]:
pol_to_end.get('jeden', 'brak') #drugi argument zwraca to co jak nie ma takiego klucza

'one'

In [ ]:
pol_to_end.pop('jeden')

'one'

In [ ]:
pol_to_end

{'dwa': 'two', 'trzy': 'three'}

In [ ]:
pol_to_end.update({'jeden':1})

In [ ]:
pol_to_end

{'dwa': 'two', 'trzy': 'three', 'jeden': 1}

In [ ]:
kwadraty = {1:1, 2:4, 3:9, 4:16, 5:25}
print(kwadraty)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [71]:
capitals = {'Polska': 'Warszawa', 'Niemcy': 'Berlin', 'Czechy': 'Praga'}
capitals['Włochy'] = 'Rzym'
cap = sorted(list(capitals.values()))
print(cap)

['Berlin', 'Praga', 'Rzym', 'Warszawa']