## Zbiory
### lista unikalnych elementów set()

In [3]:
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [4]:
techs = {'Python', 'Java', 'C++', 'SQL'}
print(techs)

{'Java', 'SQL', 'C++', 'Python'}

In [5]:
print(len(techs))

4

In [6]:
set('Python')

{'P', 'h', 'n', 'o', 't', 'y'}

In [7]:
set('aaaabbbccc')

{'a', 'b', 'c'}

In [8]:
'Python' in techs

True

In [9]:
techs.add('sas')
techs.remove('sas')

In [10]:
techs.pop() # wyrzuca dowolny element

'Java'

In [11]:
print(techs)

{'C++', 'SQL', 'Python'}

In [12]:
techs.clear() # czyści wartości

In [13]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {5, 6, 7, 8, 9}
C = {5, 6}


C.issubset(A) # sprawdza czy zbiór C jest podzbiorem A 
C.issubset({5, 7})
A.issuperset(C) # sprawdza czy A jest nadzbiorem zbioru C
A.union(B) # suma zbiorów
A.intersection(B) # cześć wspólna
A.symmetric_difference(B) # element które są w A i nie ma w B i odwrotnie

{1, 2, 3, 4, 8, 9}

In [14]:
D = A.copy() # kopiowanie zbiorów
D

{1, 2, 3, 4, 5, 6, 7}

In [15]:
x = 'Programowanie w języku Python - od A do Z'
print(len(set(x.lower().replace('-','').replace('ę','e').replace(' ',''))))

18

## Tuple
### uporządkowana struktura której nie mozna zmieniać tuple()

In [16]:
empty_tuple = tuple()
print(empty_tuple)

()

In [17]:
amazon = ('Amazon','USA', 'Technology', 1)
google = ('Google', 'USA', 'Technology', 2)

In [18]:
name_google = google[0]

In [19]:
data = (amazon, google) # zagnieżdzone tuple

In [20]:
a = ('Maciej', 'Swiatek')
print(a)

('Maciej', 'Swiatek')

In [21]:
imie = 'Maciej'
nazwisko = 'Swiatek'

In [22]:
imie,nazwisko = ('Maciej', 'Swiatek')

In [23]:
amazon_name, country, sector, rank = amazon # przypisanie elementów tupli do zmiennych

In [24]:
stocks = 'Amazon', 'Apple', 'IBM' # inna definicja tupli
stocks

('Amazon', 'Apple', 'IBM')

In [25]:
nested = 'Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw')
nested

('Europa', 'Polska', ('Warszawa', 'Krakow', 'Wroclaw'))

In [26]:
a = 12
b = 14

c = b
b = a
a = c
print(a,b)

14 12

In [27]:
x, y = 10, 15
x, y = y, x
print(x,y)

15 10

In [28]:
x = 'Python'
y = 3.7
print((x, y))

('Python', 3.7)

## LISTY
### obiekty które są zmienne, uporządkowana struktura elementów, mogą być zduplikowane

In [29]:
techs = ['Python', 'Java', 'C++', 'SQL', 'GO']

In [30]:
techs[0] = 'Python 3.7'

In [31]:
print(techs)

['Python 3.7', 'Java', 'C++', 'SQL', 'GO']

In [32]:
numbers = [3, 5, 3, 5, 23]
print(numbers)
print(type(numbers))

[3, 5, 3, 5, 23]
<class 'list'>

In [33]:
mixed = ['python', 3.6, 5, True]

In [34]:
empty_list = []

In [35]:
nested_list = [[1, 2, 3], ['Python', 'SQL', 'GO'], 3]
nested_list

[[1, 2, 3], ['Python', 'SQL', 'GO'], 3]

In [36]:
nested_list

[[1, 2, 3], ['Python', 'SQL', 'GO'], 3]

In [40]:
first = ['mleko', 'ziemniaki', 'makaron']
second = ['woda', 'jajka']

bucket = [first,second] # zagnieżdzanie list

first + second + ['scala'] # dodawanie list i elementów list

['mleko', 'ziemniaki', 'makaron', 'woda', 'jajka', 'scala']

In [42]:
techs = ['Python', 'Java', 'C++', 'SQL', 'GO']

techs += ['js']
techs

['Python', 'Java', 'C++', 'SQL', 'GO', 'js']

In [44]:
numbers = [1, 4, 2, 5]
letters = ['d', 's', 't']
print(numbers + letters)

[1, 4, 2, 5, 'd', 's', 't']

In [45]:
index = [0, 1, 2, 3, 4, 5]
index_neg = [-6, -5, -4, -3, -2, -1]
lista = [34, 23, 56, 24, 23, 76]

In [46]:
lista[0]

34